{% extends 'base.html'%}
{% load static %}
{% load markdown_extras %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/blog_styles/detailPost.css' %}">
{% endblock %}

{% block jumbo %}
	{% if user.is_superuser %}
		<div>
			<a href="{% url 'editPost' pk=post.pk %}" class="btn btn-success">Editar</a>
			<a href="{% url 'deletePost' pk=post.pk %}" class="btn btn-danger">Eliminar</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="wrapper-title">
		<h1 class="display-4">{{post.title}}</h1>
	</div>

	<div class="wrapper-author lead">
		<div class="author-item">
			<a href="{% url 'profile_page' username=post.author.user.username %}">{{ post.author }}</a>
		</div>
		<div class="dot-item">•</div>
		<div class="date-item">{{post.created_at|date:"d M, Y"}}</div>
	</div>

<div class="wrapper">

	<div class="post-content">
		<img class="img-article mb-4" src="{% get_media_prefix %}{{ post.img }}" alt="">
		<div class="lead post-content">{{ post.content|markdown|safe }}</div>

		{% for subject in tags %}
			<a href="{% url 'index' %}?tag={{ subject }}"><div class="tag">{{ subject }}</div></a>
		{% endfor %}
	</div>

	<div class="ad-section">
		<h3 class="text-center lead">Área de Publicidad</h3>
	</div>

	<div class="suscribe-section">
		<h3 class="lead sec-title">SUSCRÍBETE A {{ site_name }}</h3>
		<form action="" method="POST">
			{% csrf_token %}
			<input class="form-control" type="text" placeholder="Escribe tu correo electrónico">
			<input
				type="submit"
				class="btn btn-light btn-block mt-3"
				value="SUSCRIBIRSE"
			>
		</form>
	</div>

	{% if recent_post != None %}
		<a href="{% url 'detailPost' slug=recent_post.slug %}" class="postLink">
			<div class="post-ultimate-wrapper">
				<h3 class="lead mb-3 sec-title">ÚLTIMO ARTÍCULO</h3>
				<div class="post-ultimate">
					<div>
						<img src="{% get_media_prefix %}{{ recent_post.img }}" alt="" class="post-recommend-img">
						<div class="lead post-ultimate-title">{{ recent_post.title }}</div>
						<div>
							<span class="post-recommend-author">{{ recent_post.author }}</span>
							<span class="post-recommend-day">{{ recent_post.created_at|timesince }}</span>
						</div>
					</div>
				</div>

			</div>
		</a>
	{% endif %}

	<div class="post-sidebar-bot">
		{# Espacio Vertical Libre del Blog #}
	</div>

	<div class="post-recommend-section">
		<h3 class="lead post-section-title">Artículos Relacionados</h3>
		<div class="post-recommend-wrapper">
		{% for post_recommend in post_selects %}
			<a href="{% url 'detailPost' slug=post_recommend.slug %}" class="postLink">
				<div class="post-recommend-item">
					<img class="post-recommend-img" src="{% get_media_prefix %}{{ post_recommend.img }}" alt="">
					<h3 class="lead post-recommend-title">{{ post_recommend.title|truncatechars:50 }}</h3>
					<span class="post-recommend-author">{{ post_recommend.author }}</span>
					<span class="post-recommend-day">{{ post_recommend.created_at|timesince }}</span>
				</div>
			</a>
		{% endfor %}
	</div>
	</div>

</div>

{% endblock %}
