{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/blog_styles/profile_page.css' %}">

<link rel="stylesheet" href="{% static 'css/blog_styles/index.css' %}">
{% endblock %}

{% block jumbo %}
{% endblock %}

{% block content %}
	<div class="header-profile">
		<img
			src="{% get_media_prefix %}{{ author.img_perfil }}"
			alt="img-user"
			class="img-profile"
		>
		<div class="profile-desc">
			<h1>{{ author.user }}</h1>
			<h3>{{ author.fullname }}</h3>
			<p>{{ author.bio }}</p>
			<p>{{ author.location }}</p>
			{% for social_url in author.social_urls.all %}
				<a href="{{ social_url.url }}" target="_blank">
					<img
					src="{% get_media_prefix %}{{ social_url.social_web.img_icon }}"
					alt="img-social"
					class="social-icon"
					>
				</a>
			{% endfor %}
		</div>
	</div>
	<hr class="separator">

	<div class="articles-section">
		<h3 class="title-articles display-4">Lo último de {{ author.user }}</h3>

		{% for post in author.posts.all %}
		<div class="post-wrapper">

			<a href="{% url 'detailPost' slug=post.slug %}" class="postLink">
				<div class="post-wrapper-top">
					<div class="img-wrapper">
						<img class="post-img post-img-1" src="{% get_media_prefix %}{{ post.img }}">
						<img src="{% static 'img/fondoLeer.png' %}" alt="" class="post-img post-img-2">
					</div>
					<div class="post-info">
						<h3 class="post-title">{{ post.title }}</h3>
						<label class="post-author">{{ post.author.user.username }}</label>
						<label class="post-date">{{ post.created_at|timesince }}</label>
						<p class="post-desc">{{ post.content|truncatechars:200 }}</p>
					</div>
				</div>
			</a>
		</div>
		<hr/>
		{% endfor %}

	</div>

{% endblock %}
