{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ site_name }} - Series
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/blog_styles/index.css' %}">
{% endblock %}

{% block jumbo %}
	<h1 class="lead">Series</h1>

	{% if user.is_superuser %}
		<a href="{% url 'addSerie' %}" class="btn btn-outline-dark">Nueva Serie</a>
	{% endif %}
{% endblock %}

{% block content %}
<div class="card-columns">
	{% for serie in series %}
	<a href="{% url 'detailSerie' slug=serie.slug %}" class="postLink">
		<div class="card mt-5">
			<div class="card-header">
				<h3 class="card-title text-center">{{ serie.title }}</h3>
				<p class="lead text-center">({{ serie.posts.all|length }})</p>
			</div>
			<div class="card-body">
				<p class="lead">Actualizado: {{ serie.last_update|date:"d M Y" }}</p>
				<img class="card-img" src="{% get_media_prefix %}{{ serie.img }}">
				<p class="lead text-justify mt-2">{{ serie.description|truncatechars:112 }}</p>
				{% if user.is_superuser %}
					<a href="{% url 'editSerie' pk=serie.pk %}" class="btn btn-success btn-block">Editar</a>
					<a href="{% url 'deleteSerie' pk=serie.pk %}" class="btn btn-danger btn-block" >Eliminar</a>
				{% endif %}
			</div>
		</div>
	</a>
	{% endfor %}
</div>

{% endblock %}