/* Color de Seleccion */
*::selection {
	background: rgba(131, 131, 131, 0.35);
}

/* Codigo del TextField de los detailPosts */
.post-content a:hover {
	text-decoration: none;
}
.post-content iframe {
	display: block;
	margin: 1em auto;
}
.twitter-tweet {
	margin: 1em auto;
}

/* Codigo del Footer */

.pie {
	width: 100%;
	background-color: rgb(53, 53, 53);
	color: white;
	float: left;
}
.footer-item {
	display: inline;
}
.wrapper-footer {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.perfil {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.tag {
	background-color: rgb(48, 47, 47);
	color: #fff;
	float: left;
	margin: 50px 10px 50px 0px;
	padding: 10px 20px 10px 20px;
	border-radius: 50px;
}

@media (max-width: 770px) {
	.wrapper-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer-item {
		display: block;
		margin-bottom: 10px;
		margin: 15px 80px 15px 0px;
	}
}
