/* Color de Seleccion */
*::selection {
    background: rgba(131, 131, 131, 0.350);
}

/* Codigo del Footer */

.pie {
	width: 100%;
	background-color: rgb(53, 53, 53);
	color: white;
	float: left;
}
.footer-item {
	display: inline;
}
.wrapper {
	padding: 20px;
}

.perfil {
	width: 150px;
    height: 150px;
	border-radius: 50%;
}

.tag {
	background-color: rgb(48, 47, 47);
	color: #fff;
	float: left;
	margin: 50px 10px 50px 0px;
	padding: 10px 20px 10px 20px;
	border-radius: 50px;
}