{% load static %}
<div class="mt-5">
	<footer class="pie">
		<div class="container">
			<div class="wrapper-footer">
				<div class="footer-item">&copy; 2018 {{ site_name }}</div>
				<div class="footer-item"><a class="text-white" href="{% url 'about' %}">Mas Información</a></div>
				<div class="footer-item"><a href="#" class="text-white">Cookies</a></div>
				<div class="footer-item"><a href="#" class="text-white">Politica de Privacidad</a></div>
				{# <div class="footer-item"><a href="#" class="text-white">Sponsor</a></div> #}
				{% if user.is_authenticated %}
					<div class="footer-item">
						<a class="text-white" href="{% url 'logout' %}">Salir</a>
					</div>
				{% else %}
					<div class="footer-item">
						<a class="text-white" href="{% url 'login' %}">Login</a>
					</div>
				{% endif %}
			</div>
		</div>
	</footer>
</div>
