{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/includes/_nav.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}">
			<img src="{% static 'img/dibujo.svg' %}" alt="Logo" width=30 height="30"> {{ site_name }}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link mx-2" href="{% url 'posts' %}">Artículos</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="{% url 'series' %}">Series</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="{% url 'eventIndex' %}">Eventos</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="{% url 'wikiIndex' %}">Wiki</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="{% url 'tags' %}">Temas</a>
				</li>
			</ul>

			<form class="form-inline" method="GET" action="{% url 'posts' %}">
				<input class="form-control mr-sm-2 search-bar" name="q" type="search" placeholder="Buscar" aria-label="Search">
				<button class="btn btn-light my-2 my-sm-0 search-btn" type="submit">
					<img src="{% static 'img/search.svg' %}" alt="nose">
				</button>
			</form>
		</div>
	</div>

</nav>
