{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ site_name }} - {{ event.name }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/events_styles/detail_event.css' %} ">
{% endblock %}

{% block jumbo %}
{% endblock %}

{% block content %}
	<div class="event-head">
		<h1 class="display-3 event-name">{{ event.name }}</h1>
		<h4 class="event-date">{{ event.start_day|date:"D d F" }} • {{ event.end_day|date:"D d F" }}</h4>
		<p class="lead">{{ event.description|truncatechars:250 }}</p>
		{% if user.is_superuser %}
			<a href="#" class="btn btn-outline-dark mt-4">Agregar Juego</a>
		{% endif %}
	</div>

	<div class="game-section">
		{% for game in games %}
			<div class="game-wrapper">
				<h1 class="game-name display-4">
					{% for team in game.teams.get_queryset %}
						<a class="link-team" href="{% url 'detailTeam' slug=team.slug %}">
							<img class="img-team" src="{% get_media_prefix %}{{ team.img }}" alt="img">
							<strong>{{ team }}</strong>
						</a>
						{% cycle '<strong>vs</strong>' '' %}
					{% endfor %}
				</h1>
				<p class="game-state lead">{{ game.state }}</p>
				<p class="game-day lead">{{ game.day|date:"D d F • P" }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
