.event-head {
	text-align: center;
}
.img-event {
	width: 280px;
	height: 160px;
}
.event-date {
	margin: 20px 0 20px 0;
}
.game-section {
	margin-top: 50px;
}

.game-wrapper {
	background: rgb(243, 243, 243);
	margin-top: 10px;
	position: relative;
	padding: 10px;
	margin-bottom: 20px;
}

.game-name {
	font-size: 30px;
}

/* Elementos */
.img-team {
	border-radius: 50px;
	height: 40px;
	width: 40px;
}
.link-team {
	color: rgb(56, 56, 56);
}

.link-team:hover {
	text-decoration: none;
	color: rgb(56,56,56);
}

/* Centrado Avanzado 
       g2 esports vs fnatic
    team vitality vs cloud 9
*/
.resultados {
	display: flex;
	justify-content: center;
}
.resultados div {
	display: inline-block;
}
.team1 {
	width: 40%;
	text-align: right;
}
.team2 {
	width: 40%;
	text-align: left;
}
.versus {
	width: 8%;
	text-align: center;
}
.name-oscuro {
	font-size: 0;
}

/* Centrado de las Opciones de Administrador */
.options-user {
	margin-top: 1em;
	text-align: center;
}

@media (max-width: 800px) {
	.name-claro {
		font-size : 0;
	}
	.name-oscuro {
		font-size: 30px;
	}
	.event-name {
		font-size: 3em;
	}
	.event-date {
		font-size: 1em;
	}
	.event-desc {
		font-size: 0;
	}
	.game-section {
		margin-top: 0;
	}
}
@media (max-width: 600px) {
	.versus {
		width: 15%;
		text-align: center;
		font-size: 1em;
	}
	.event-name {
		font-size: 2em;
	}
	.name-claro {
		font-size : 0;
	}
	.name-oscuro {
		font-size: 20px;
	}
}

/* Otros elementos */
.game-footer {
	display: flex;
	justify-content: center;
}
.game-day {
	margin: 0px;
}
