.event-section {
	margin-top: 56px;
}

.eventLink {
	color: rgb(56, 56, 56);
}
.eventLink:hover {
	color: rgb(56,56,56);
	text-decoration:none;
}

.event-wrapper {
	border: 1px solid rgb(214, 213, 213);
	border-radius: 5px;
	margin-top: 20px;
	clear:both;
	position: relative;
	padding: 20px;
	height: 200px;
}

.event-title {
	font-size: 30px;
	font-weight: 10;
}
.event-img {
	float:left;
	border-radius: 3px;
}

.event-info {
	margin-left: 300px;
}

