.event-section {
	margin-top: 56px;
}

.eventLink {
	color: rgb(56, 56, 56);
}
.eventLink:hover {
	color: rgb(56,56,56);
	text-decoration:none;
}

.event-wrapper {
	clear:both;
	position: relative;
	padding: 20px;
	height: 200px;
}

.separator {
	margin:0;
}

.event-title {
	font-size: 30px;
	font-weight: 10;
}
.event-title-hidden {
	font-size: 0;
}

.event-info {
	margin-left: 300px;
}

@media(max-width: 1200px) {
	.event-desc {
		font-size: 0;
	}
	.event-day {
		font-size: 1em;
	}
}


@media(max-width: 800px) {
	.event-title-hidden {
		font-size: 2em;
	}
	.event-title {
		font-size: 0;
	}
	.event-section {
		margin-top: 0;
	}
}

.event-img {
	float:left;
}

@media(max-width: 500px) {
	.event-img {
		float: none;
	}
	.event-wrapper {
		display: inline-block;
	}
	.event-desc {
		font-size: 0;
	}
	.event-day {
		font-size: 1em;
	}
	.event-info {
		margin-left: 0;
	}
}
