.post-content {
	text-align: justify;
}

.wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 300px 280px 350px;
	grid-gap: 30px;
}
/* Referencia para el sistema de grillas */
/* .post-sidebar-top {
	border: 1px solid rgb(56,56,56);
	border-radius: 3px;
}
.post-sidebar-bot {
	border: 1px solid rgb(56,56,56);
	border-radius: 3px;
} */

.post-section {
	grid-row: 1 / 5;
}
.post-sidebar-top {
	grid-row: 1 / 3;
}
.post-recommend {
	grid-column: 1 / 3;
	border: 1px solid rgb(213,213,213);
	border-radius: 3px;
	position: relative;
}
