/* Seccion "Proximos Encuentros" */

.wrapper-games {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 2em;
}

.card-game {
	border: 1px solid rgb(213, 213, 213);
	border-radius: 5px;
	text-align: center;
}
.block-total {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
.block-name {
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-team {
	height: 30px;
	width: 30px;
}

.block-team {
	float: left;
}
.block-vs {
	float: left;
	margin: 0 1em;
}
.block-date {
	clear: both;
}

hr {
	margin: 0;
}

/* Carrousel styles */
.owl-nome .owl-nav {
	position: absolute;
	width: 100%;
	top: 20%;
	background: blue;
	height: 0px;
}

.owl-nome .owl-next {
	position: absolute;
	right: 1%;
}

.owl-nome .owl-prev {
	position: absolute;
	left: 1%;
}

/* Seccion Articulos */
.post-section {
	margin: 2em 0 0 0;
}

.postLink {
	color: rgb(56, 56, 56);
}
.postLink:hover {
	color: rgb(56, 56, 56);
	text-decoration: none;
}

.post-wrapper-top {
	clear: both;
	position: relative;
	padding: 20px;
	height: 200px;
}

.post-title {
	font-size: 30px;
	font-weight: 10;
}

.img-wrapper {
	position: relative;
	width: 280px;
	height: 160px;
	float: left;
}

.post-img-2 {
	opacity: 0;
}
.post-img-2:hover {
	opacity: 1;
}

.post-img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.post-info {
	margin-left: 300px;
}

.post-author {
	font-weight: 500;
	margin-right: 0.8em;
}

/* De pequeño a mediano */
@media (max-width: 500px) {
	.post-info {
		clear: both;
		margin-left: 0;
	}
	.post-title {
		font-size: 1em;
	}
}

/* De mediano a grande */
@media (max-width: 1000px) {
	.post-title {
		font-size: 1.3em;
	}
	.post-wrapper {
		display: inline-block;
	}
	.post-desc {
		font-size: 0;
	}
	.post-section {
		margin: 1em 0 0 0;
	}
}
