.img-team {
	height:150px;
	width:150px;
	border-radius: 3px;
}

.img-gamer {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.block-member {
	padding: 10px;
}
.block-members {
	border: 1px solid rgb(56,56,56);
	border-radius: 3px;	
}