a {
	color: rgb(56, 56, 56);
}
a:hover {
	color: rgb(56,56,56);
	text-decoration:none;
}

.wrapper-main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
}

.gamer-wrapper {
	padding: .3em;
	border: solid 1px rgb(213,213,213);
	border-radius: 5px;
	overflow: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.img-gamer {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 1em;
}
