
.container-wiki {
	margin-top: 2.5em;
	display: grid;
	grid-row-gap: 1em;
}

a{
	color: rgb(54, 54, 54);
}
a:hover {
	color: rgb(54, 54, 54);
	text-decoration: none;
}

.block {
	height: 8em;
	border: 1px solid rgb(161, 161, 161);
	border-radius: 5px;
}
.content {
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.number {
	font-size: 2em;
}
