.container-wiki {
	margin-top: 2.5em;
}

a{
	color: rgb(54, 54, 54);
}
a:hover {
	color: rgb(54, 54, 54);
	text-decoration: none;
}

.content {
	padding: 2.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content h2, p {
	margin:0;
}

.number {
	font-size: 1.8em;
}

hr{
	margin: 0;
}

@media(max-width: 600px) {
	.content {
		display: inline-block;
	}
	.number {
		font-size: 1.5em;
	}
}

