{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ site_name }} - About
{% endblock %}

{% block jumbo %}
<h1 class="display-3">Mas Información</h1>
<img class="perfil" src="{% static 'img/MitbitPerfil.png'%}" alt="perfil">
{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center">
	<div class="mt-5 ">

		<div  class="float-left">
			<a href="https://twitter.com/diegoamse" class="py-3 px-5 mb-2 bg-info text-white" target="_blank">
				Twitter
			</a>
		</div>
		<div class="float-left">
			<a href="https://github.com/diegoamse" class="py-3 px-5 bg-dark text-white" target="_blank">
				Github
			</a>
		</div>
		<div  class="float-left">
			<a href="https://www.facebook.com/yomitbit" class="py-3 px-5 bg-primary text-white" target="_blank">
				Facebook
			</a>
		</div>
		<div class="float-left">
			<a href="https://www.instagram.com/diegoamse" class="py-3 px-5 bg-danger text-white" target="_blank">
				Instagram
			</a>
		</div>
	</div>
</div>

<p class="lead mt-5 text-justify">Mi nombre es Diego Amorin, soy un estudiante de la carrera de Ing. de Sistemas
 en la Universidad Continental ubicada en Perú, en este blog comparto información sobre Videojuegos (<a href="http://www.fortnite.com/" target="_blank">Fortnite</a>), Programación (<a href="https://www.python.org/" target="_blank">Python</a>), y Diseño (<a href="https://www.blender.org/" target="_blank">Blender</a>).
 Abarcaremos temas especificos como: </p>

{% endblock %}
