{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}{{ site_name }}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="shortcut icon" type="image/Logo_Vilvox.png" href="{% static 'img/Logo_Vilvox.png' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% block style %}{% endblock %}
	</head>
	<body>
		{% block navigator %}
			{% include 'includes/_nav.html' %}
		{% endblock %}

		<div class="container">
			<div class="text-center mt-5">
				{% block jumbo %}
				<h1 class="display-3">{{ site_name}}</h1>
				{% endblock %}
			</div>
			{% block content %}
				<h2>Sin Contenido</h2>
			{% endblock %}
		</div>

		{% block footer %}
			{% include 'includes/_footer.html' %}
		{% endblock %}
		<script src="{% static 'js/jquery331.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/app_script.js' %}"></script>
	</body>
</html>
