{% extends 'base.html'%}
{% load static %}

{% block jumbo %}
	<h1 class="display-4">{{post.title}}</h1>
	
	{% if user.is_superuser %}
		<div>
			<a href="{% url 'editPost' pk=post.pk %}" class="btn btn-success mt-5">Editar</a>
			<a href="{% url 'deletePost' pk=post.pk %}" class="btn btn-danger mt-5">Eliminar</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="lead">{{post.created_at}}</div>
	<img class="card-img my-5" src="{% get_media_prefix %}{{ post.img }}" alt="">
	<div class="lead">{{ post.content|safe|linebreaks }}</div>
	
	{% for subject in tags %}
		<a href="{% url 'detailTag' subject=subject %}"><div class="tag">{{ subject }}</div></a>
	{% endfor %}

{% endblock %}
