{% extends 'base.html' %}
{% load static %}

{% block jumbo %}
<h1 class="display-3">Mitbit</h1>
<p class="lead">Startups, Apps, Gadgets, Guías ...</p>

{% if user.is_superuser %}
	<a href="{% url 'addPost' %}" class="btn btn-outline-dark">Nueva Entrada</a>
{% endif %}

{% endblock %}

{% block content %}
	{% for post in posts %}
		<div class="card mt-5">
			<div class="card-body">
				<h3 class="card-title text-center">{{ post.title }}</h3>
				<p class="card-text">{{ post.content|truncatechars:300 }}</p>
				<label>{{ post.created_at }}</label>
				<img class="card-img" src="{% get_media_prefix %}{{ post.img }}">
				<a href="#" class="btn btn-dark mt-5">Seguir Leyendo</a>
				{% if user.is_superuser %}
				<div class="ml-5 d-inline">
					<a href="#" class="btn btn-success mt-5">Editar</a>
					<a href="{% url 'deletePost' pk=post.pk %}" class="btn btn-danger mt-5">Eliminar</a>
				</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
