{% extends 'base.html' %}
{% load static %}

{% block jumbo %}
<h1 class="lead">Startups, Apps, Gadgets, Guías ...</h1>

{% if user.is_superuser %}
	<a href="{% url 'addPost' %}" class="btn btn-outline-dark">Nueva Entrada</a>
{% endif %}

{% endblock %}

{% block content %}
	{% for post in posts %}
		<div class="card mt-5">
			<div class="card-body">
				<h3 class="card-title text-center">{{ post.title }}</h3>
				<p class="card-text">{{ post.content|truncatechars:300 }}</p>
				<label>{{ post.created_at }}</label>
				<img class="card-img" src="{% get_media_prefix %}{{ post.img }}">
				<a href="{% url 'detailPost' slug=post.slug %}" class="btn btn-dark mt-5">Seguir Leyendo</a>
				{% if user.is_superuser %}
				<div class="ml-5 d-inline">
					<a href="{% url 'editPost' pk=post.pk %}" class="btn btn-success mt-5">Editar</a>
					<a href="{% url 'deletePost' pk=post.pk %}" class="btn btn-danger mt-5">Eliminar</a>
				</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}

	<div class="pagination my-5 justify-content-center">
		<span class="step-links">
			{% if posts.has_previous %}
				<a class="btn btn-outline-dark" href="?page={{ posts.previous_page_number }}">Anterior</a>
			{% endif %}
	
			<span class="current mx-3">
				Página {{ posts.number }} de {{ posts.paginator.num_pages }}.
			</span>
	
			{% if posts.has_next %}
				<a class="btn btn-outline-dark" href="?page={{ posts.next_page_number }}">Siguiente</a>
			{% endif %}
		</span>
	</div>

{% endblock %}
