{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ site_name }} - {{team}}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/wiki_styles/detail_inWIKI.css' %}">
{% endblock %}

{% block jumbo %}
	<h1 class="display-4 mb-4">{{ team.name }}</h1>
	{% if user.is_superuser %}
		<a href="" class="btn btn-success">Editar</a>
		<a href="" class="btn btn-danger">Eliminar</a>
	{% endif %}
	<hr>
{% endblock %}

{% block content %}

<div class="wrapper-main">

	<div class="content-wrapper">
		<p>{{ team.description|safe }}</p>
	</div>

	<div class="perfil-wrapper">

		<div class="section-header">
			<div><h1 class="lead section-info">{{ team.name }}</h1></div>
			<div class="caja-img">
				<img class="img-info" src="{% get_media_prefix %}{{ team.img }}" alt="img">
			</div>
		</div>

		<div class="section-information">
			<table class="table">
				<tr>
					<th>Website:</th>
					<th><a href="{{ team.website }}" target="_blank">{{ team.website }}</a></th>
				</tr>
			</table>

			<h3 class="lead section-info">Videogames</h3>

			<ul class="list-info">
				{% for vgame in team.videogames.get_queryset %}
					<li class="item-info">
						<a href="{% url 'detailVideoGame' slug=vgame.slug %}">{{ vgame }}</a>
					</li>
				{% endfor %}
			</ul>
			
			<h1 class="lead section-info">Miembros</h1>
			
			<ul class="list-info">
				{% for member in team.members.get_queryset %}
					<li class="item-info">
						<a href="{% url 'detailGamer' slug=member.slug %}">
							<img class="img-gamer-info" src="{% get_media_prefix %}{{ member.img }}" alt="">
							{{ member.nickname }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>

</div>

{% endblock %}
