{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ site_name }} - Wiki
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/wiki_styles/wikiIndex.css' %}">
{% endblock %}

{% block jumbo %}
<h1 class="lead">WIKI</h1>
{% endblock %}

{% block content %}

<div class="container-wiki">

	<a href="{% url 'videogamesIndex' %}">
		<div class="block block-videogames">
			<div class="content">
				<h2>Videojuegos</h2>
				<p class="number">{{ videogames_count }} elementos</p>
			</div>
		</div>
	</a>
	<hr>
	<a href="{% url 'teamsIndex' %}">
		<div class="block block-teams">
			<div class="content">
				<h2>Teams</h2>
				<p class="number">{{ teams_count }} elementos</p>
			</div>
		</div>
	</a>
	<hr>
	<a href="{% url 'gamersIndex' %}">
		<div class="block block-gamers">
			<div class="content">
				<h2>Gamers</h2>
				<p class="number">{{ gamers_count }} elementos</p>
			</div>
		</div>
	</a>

</div>

{% endblock %}
